|          \*\*/ignorowany.txt          	|            ignorowany.txt           	| ignorowanie konkretnego pliku w konkretnym katalogu z dowlnego miejsca w repozytorium                                                   	|